<div class="container z-depth-1">
  <%= form_for(@image, html: { multipart: true } ) do |f| %>
    <div class="fallback">
      <%= f.hidden_field :post_id, :value => @post.id %>	
      <%= f.file_field :images, multiple: true %><br>
      <%= f.submit "Upload my Image" %>
    </div>
  <% end %>
</div>

